@model ChurchSystem.App.ViewsModels.GroupViewModel

@{
    ViewData["Title"] = "Create new group";
}

<h3 class="ui header">Create new group</h3>

<div class="ui divider"></div>
<partial name="/Views/Components/_ValidationSummary.cshtml" />

<form asp-action="Create" class="ui form segment">
    @{ await Html.RenderPartialAsync("_GroupFormPartial.cshtml"); }
    <a class="ui button" asp-action="Index">
        <i class="arrow left icon"></i>
        Back
    </a>
    <button type="submit" class="ui submit primary button">
        <i class="check icon"></i>
        Create
    </button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
