@model ChurchSystem.App.ViewsModels.DonationViewModel
@using ChurchSystem.App.ViewsModels 

<div class="field">
    <div class="two fields">
        <div class="field">
            <label asp-for="MemberId" class=""></label>
            <select asp-for="MemberId" class="ui dropdown" asp-items="Model.Members">
                <option value="" selected disabled>Select</option>
            </select>
            <span asp-validation-for="MemberId" class="text-danger"></span>
        </div>
        <div class="field">
            <label asp-for="Date" class=""></label>
            <input asp-for="Date" class="" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="field">
    <div class="two fields">
        <div class="field">
            <label asp-for="Type" class=""></label>
            <select asp-for="Type" class="ui selection dropdown" asp-items="Html.GetEnumSelectList<DonationTypeViewModel>()">
                <option value="" selected disabled>Select</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="field">
            <label asp-for="Amount" class=""></label>
            <input asp-for="Amount" class="" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>
</div>
