@model ChurchSystem.App.ViewsModels.DonationViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Register new donation</h4>

<hr />
<div class="">
    <div class="">
        <form asp-action="Create" class="ui form">
            @{ await Html.RenderPartialAsync("_DonationFormPartial.cshtml"); }
            <div class="form-group">
                <a class="ui button" asp-action="Index">
                    <i class="fa fa-arrow-left"></i>
                    Back
                </a>
                <button type="submit" class="ui primary button">
                    <i class="fa fa-check"></i>
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
