@model ChurchSystem.App.ViewsModels.RoleViewModel

<div class="field">
    <div class="two fields">
        <div class="field">
            <label asp-for="Description" class=""></label>
            <input asp-for="Description" class="" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>
