@model ChurchSystem.App.ViewsModels.RoleViewModel

@{
    ViewData["Title"] = "Role Details";
}

<h3 class="ui header">
    <i class="wpforms icon"></i>
    Role details
</h3>

<div class="ui divider"></div>

<div class="ui segment">
    <div class="ui relaxed divided list">
        <div class = "item">
            <div class="content">
                <div class="header">
                    @Html.DisplayNameFor(model => model.Description)
                </div>
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>
</div>

<a class="ui button" asp-action="Index">
    <i class="arrow left icon"></i>
    Back
</a>
<a class="ui primary button" asp-action="Edit" asp-route-id="@Model.Id">
    <i class="pencil alternate icon"></i>
    Edit
</a>
