@model ChurchSystem.App.ViewsModels.MemberViewModel

@{
    ViewData["Title"] = "Delete";
}

<h4>Delete member</h4>

<h5 class="text-danger">Are you sure you want to delete this?</h5>
<div>
    <hr />
    @{ await Html.RenderPartialAsync("_MemberDetailsPartial.cshtml"); }
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-secondary" asp-action="Index">
            <i class="fa fa-arrow-left"></i>
            Back
        </a>
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash"></i>
            Delete
        </button>
    </form>
</div>
