@model ChurchSystem.App.ViewsModels.MemberViewModel

@{
    ViewData["Title"] = "Delete member";
}

<h3 class="ui header">Delete member</h3>

<div class="ui divider"></div>
<partial name="/Views/Components/_ValidationSummary.cshtml" />

@{ await Html.RenderPartialAsync("_MemberDetailsPartial.cshtml"); }

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <a class="ui button" asp-action="Index">
        <i class="arrow left icon"></i>
        Back
    </a>
    <button type="submit" class="ui red button" data-tooltip="Are you sure you want to delete this?" data-position="right center">
        <i class="trash alternate outline icon"></i>
        Delete
    </button>
</form>
