@model ChurchSystem.App.ViewsModels.MemberViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit member</h4>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            @{ await Html.RenderPartialAsync("_MemberFormPartial.cshtml"); }
            <div class="form-group">
                <a class="btn btn-secondary" asp-action="Index">
                    <i class="fa fa-arrow-left"></i>
                    Back
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
